.footer{
    min-height: 10vh;
    background: #000000;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style: none;
    }
    h1{
        flex: 3;
    }
}